.appointment-block {
  height: 2.6rem;
  border-radius: 0.2rem;
  margin: 0.2rem auto 0.2rem 0.1rem;
  position: relative;

  display: flex;
  flex-direction: column;
  z-index: 200;
  padding: 0.2rem;
}

.appointment-block:hover:after {
  position: absolute;
  z-index: 205;
  top: 110%;
  left: 0;

  width: 12.5rem;
  padding: 0.15rem;
  border-radius: 5px;
  color: black;
  background-color: white;
  font-size: 0.6rem;
  content: attr(info);
}

.appointment-title {
  width: 5rem;
  height: 1.25rem;
  font-size: 0.55rem;
  line-height: 0.55rem;
  text-align: center;
}

.appointment-time {
  height: 13px;
  margin-top: 3px;
  color: #747474;
  font-size: 10px;
  line-height: 16px;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.end-time {
  color: #121d22;
}
