<div class="date-block">
    @if (AppointmentParameter != null)
    {
        //Question: is there a way to simplify the code and avoid repeating AppointmentParameter?. multiple times?
        <div class="appointment-box"
            style="background-color: @AppointmentParameter?.Background; border: 2px solid @AppointmentParameter?.Color; width:@(_width)px ;">
            <div class="appointment-content-container" info=@AppointmentParameter?.Info>
                <div class="appointment-content" style="color:@AppointmentParameter?.Color"> @AppointmentParameter?.Content
                </div>
                <div class="appointment-time">
                    @AppointmentParameter?.BeginnTime
                    @if (AppointmentParameter?.EndTime != null)
                    {
                        <span class="end-time"> | @AppointmentParameter?.EndTime</span>
                    }
                </div>
            </div>
        </div>
    }
</div>

@code {
    [Parameter]
    public Appointment? AppointmentParameter { get; set; }

    //Question: why it is protected override
    protected override void OnInitialized()
    {
        if (AppointmentParameter != null)
        {
            _width = 115 * (AppointmentParameter?.Duration ?? 0) - 4;
        }
    }
    private int _width = 111;
    public class Appointment
    {
        public required string Content { get; set; }
        public required string Date { get; set; }
        public required string BeginnTime { get; set; }
        public string? EndTime { get; set; }
        public required string Background { get; set; }
        public required string Color { get; set; }
        public required int Duration { get; set; }
        public required string Info { get; set; }
    }
}