<div class="date-block">
    @if (Appointment != null)
    {
        var (Color, BorderColor, Background) = Appointment.GetColors();
        //Question: is there a way to simplify the code and avoid repeating Appointment?. multiple times?
        <div class="appointment" info=@Appointment?.Info
            style="background-color: @Background; border: 2px solid @BorderColor; width: calc(@_width - 4px);">
            <div class="appointment-content">
                <div class="appointment-title" style="color:@Color"> @Appointment?.Content
                </div>
                <div class="appointment-time">
                    <span class="start-time">@Appointment?.BeginTime</span>
                    @if (Appointment?.EndTime != null)
                    {
                        <span class="end-time"> | @Appointment?.EndTime</span>
                    }
                </div>
            </div>
        </div>
    }
</div>
