<li class="date-header" style="grid-column: @(((int)Date.DayOfWeek+6)%7+3); grid-row:1;">
    <div class="">@Date.Day</div>
    <div class="weekday">@WeekDay</div>
</li>


@code {
    [Parameter]
    public required DateOnly Date { get; set; }

    public string WeekDay
    {
        get { return WeekList[(int)Date.DayOfWeek]; }
    }
    private List<string> WeekList = ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"];
}