@using static BlazorApp.Components.Shared.DateBlock
@using Global
@if (UserData != null)
{
    <li class="table-row user-row">
    <DateBlock Appointment=null />
    <DateBlock Appointment=@UserData.Appointments?[0] />
    <DateBlock />
    <DateBlock />
    <DateBlock Appointment=@UserData.Appointments?[1] />
    <DateBlock />
    <DateBlock />
    <button class="edit-button">
        <SfIcon Name="IconName.Edit" Title="edit"></SfIcon>
    </button>
</li>
}
