.edit-button {
  background-color: white;
  border: none;
}

.table-row.user-row {
  height: 3rem;
  background-color: inherit;
  display: grid;
  grid-template-columns: 10rem 7rem repeat(8, 5.66rem);

  font-size: 15px;
  font-weight: 700;
  text-align: center;
}

.table-row.user-row > *,
.table-row.team-row {
  border: 0.5px solid var(--theme-color-gray);
}

.table-row.team-row {
  height: 1.6rem;
  color: #799f79;
  background-color: #f5fbf5;
  font-size: 12px;
  font-weight: 700;
}
