@using Syncfusion.Blazor.Inputs

<header>
    <div class='header-input-group'>
        <SfIcon Name="IconName.Search"></SfIcon>
        <InputText class='header-search-bar' @bind-Value="@Search" Placeholder='Search' />
    </div>
    <div></div>
    <div class="header-icon-box">
        <div class="header-icon-frame">
            <SfIcon Name="IconName.LineNormal"></SfIcon>
        </div>
        <div class="header-icon-frame">
            <SfIcon Name="IconName.Clock"></SfIcon>
        </div>
        <div class="header-icon-frame">
            <SfIcon Name="IconName.Brightness"></SfIcon>
        </div>
    </div>
    <img alt="user photo" class="header-photo" src="./images/Ellipse 961.png" />
</header>

@code {
    public string Search = "";
}

<style>
    .e-icons.e-search.e-medium {
        margin-left: 0.4rem;
    }

    .header-search-bar {
        margin-left: 0.2rem;
        width: 13.7rem;
        border: none;
        background-color: inherit;
    }

    .header-search-bar::placeholder {
        color: var(--text-color-dark);
        opacity: 1;
    }
</style>

@* TODO: use the custom icon *@
@* TODO: why the photo with border-radius *@