@using Syncfusion.Blazor.Inputs
@using BlazorApp.Components.Layout

<header>
    <div class='input-box'>
        <SfIcon Name="IconName.Search"></SfIcon>
        <InputText class='search-bar' @bind-Value="@Search" Placeholder='Search' />
    </div>
    <div class="container">
        <div class="icon-box">
            <div class="icon-frame">
                <SfIcon Name="IconName.LineNormal"></SfIcon>
            </div>
            <div class="icon-frame">
                <SfIcon Name="IconName.Clock"></SfIcon>
            </div>
            <div class="icon-frame">
                <SfIcon Name="IconName.Brightness"></SfIcon>
            </div>
        </div>
        <img alt="user photo" class="photo" src="./images/Ellipse 961.png" />
    </div>
</header>