header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 0.8rem;
  left: 5.6rem;

  width: 65.6rem;
  height: 3.2rem;
  border-radius: 16px;
  padding: 0.8rem 1.4rem;
  background-color: white;
}

.input-box {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  width: 15.5rem;
  height: 1.4rem;
  padding: 0.2rem 0.4rem;
  border-radius: 8px;
  border: 0;
  background-color: #f7f8fc;
}

::deep .e-icons.e-search.e-medium {
  margin: 0;
  width: 0.8rem;
  height: 0.8rem;
}

.searchbar-icon {
  padding: 0;
}

.container {
  display: flex;
  gap: 0.8rem;
  width: 8rem;
}

.icon-box {
  display: flex;
  gap: 0.4rem;
}

.icon-frame,
.photo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 16px;
  color: #a4a4a4;
  border: 1px solid var(--theme-color-gray);
}

::deep .e-icons.e-search.e-medium {
  margin-left: 0.4rem;
}

::deep .search-bar {
  margin-left: 0.2rem;
  width: 13.7rem;
  border: none;
  background-color: inherit;
}

::deep .search-bar::placeholder {
  color: var(--text-color-dark);
  opacity: 1;
  font-weight: 200;
}
