.page {
  position: relative;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

.px-4 {
  position: absolute;
  top: 4.4rem;
  left: 5.6rem;
}

@media (max-width: 1440px) {
  .px-4 {
    width: calc(100% - 5rem);
    min-width: 31rem;
  }
  ::deep header {
    width: calc(100% - 5rem);
    min-width: 31rem;
  }
}

#blazor-error-ui {
  display: none;
  left: 0;
  bottom: 0;
  position: fixed;
  background: lightyellow;
  z-index: 1000;

  width: 100%;
  padding: 0.6rem 1.25rem 0.7rem 1.25rem;
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
}

#blazor-error-ui .dismiss {
  position: absolute;
  right: 0.75rem;
  top: 0.5rem;
  cursor: pointer;
}
