<div class="nav-menu">
    <SfSidebar Width="80px">
        <ChildContent>
            <div class="item head">
                <img src="./images/home.png" class="head-img" />
            </div>
            <div class="link-container">
                <NavLink class="item nav-link selected" href="/">
                    <SfIcon Name="IconName.GridView" Size="IconSize.Medium"></SfIcon>
                </NavLink>
                <NavLink class="item nav-link" href="/test">
                    <SfIcon Name="IconName.CriticalPath"></SfIcon>
                </NavLink>
                <NavLink class="item nav-link" href="/">
                    <SfIcon Name="IconName.Settings"></SfIcon>
                </NavLink>
                <NavLink class="item nav-link" href="/">
                    <SfIcon Name="IconName.TableNested"></SfIcon>
                </NavLink>
            </div>
        </ChildContent>
    </SfSidebar>
</div>
