::deep .e-sidebar {
  background-color: red;
}

::deep .e-sidebar {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  position: absolute;
  top: 0.8rem;
  left: 0.8rem;

  min-height: 97.4rem;
  border-radius: 0.8rem;
  padding: 0.8rem;
  padding-top: 1.2rem;
  background-color: var(--theme-color-main);
}

::deep .item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 0.6rem;
}

::deep .head {
  background-color: white;
}

::deep .head-img {
  width: 1.6rem;
  height: 1.6rem;
}

.link-container {
  display: flex;
  flex-direction: column;
  height: 10rem;
}

::deep .nav-link {
  background-color: inherit;
  color: white;
  text-decoration: none;
}

::deep .selected.nav-link {
  background-color: white;
  color: var(--theme-color-main);
}
