@namespace Shared

<div class="date-block">
    @if (AppointmentParameter != null)
    {
        //Question: is there a way to simplify the code and avoid repeating AppointmentParameter?. multiple times?
        <div class="appointment-box"
            style="background-color: @AppointmentParameter?.Background; border: 2px solid @AppointmentParameter?.Color; width:@(_width)px ;">
            <div class="appointment-content-container" info=@AppointmentParameter?.Info>
                <div class="appointment-content" style="color:@AppointmentParameter?.Color"> @AppointmentParameter?.Content
                </div>
                <div class="appointment-time">
                    @AppointmentParameter?.BeginnTime
                    @if (AppointmentParameter?.EndTime != null)
                    {
                        <span class="end-time"> | @AppointmentParameter?.EndTime</span>
                    }
                </div>
            </div>
        </div>
    }
</div>

@code {
    [Parameter]
    public Appointment? AppointmentParameter { get; set; }

    //Question: why it is protected override
    protected override void OnInitialized()
    {
        if (AppointmentParameter != null)
        {
            _width = 115 * (AppointmentParameter?.Duration ?? 0) - 4;
        }
    }
    private int _width = 111;
    public class Appointment
    {
        public required string Content { get; set; }
        public required string Date { get; set; }
        public required string BeginnTime { get; set; }
        public string? EndTime { get; set; }
        public required string Background { get; set; }
        public required string Color { get; set; }
        public required int Duration { get; set; }
        public required string Info { get; set; }
    }
}

<style>
    .date-block {
        width: 115px;
        height: 60px;
        border: 1px solid #DFDDDD;
        background-color: #F3F3F3;
        position: relative;
    }

    .appointment-box {
        border-radius: 4px;
        height: 52px;
        position: absolute;
        z-index: 100;
        margin: 4px auto 4px 2px;
    }

    .appointment-content-container {
        width: 107px;
        height: 53px;
        padding: 4px 0;
    }

    .appointment-content-container:hover:after {
        position: absolute;
        left: 0;
        top: 110%;
        width: 250px;
        padding: 3px;
        font-size: 12px;
        background-color: white;
        color: black;
        border-radius: 5px;
        content: attr(info);
        z-index: 200;
    }

    .appointment-content {
        height: 25px;
        font-size: 11px;
        line-height: 11px;
        text-align: center;
    }

    .appointment-time {
        margin-top: 3px;
        height: 13px;
        font-size: 10px;
        line-height: 16px;
        text-align: center;
        color: #747474;
    }

    .end-time {
        color: #121D22;
    }
</style>