/* .dropdown-item .e-ddl .e-input {
  margin: auto;
  height: 50px;
  font-size: 0.8rem;
  color: #212121;
  border: 1px solid #001360;
} */
/* 
.filter-sort {
  height: 40px;
  width: 1312px;
  display: flex;
  gap: 0.8rem;
} */
/* 


.list-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
} */

/* .e-custom.e-input-group,
.e-custom.e-input-group.e-control-wrapper {
  height: 40px;
  background-color: #eceef6;
  font-size: 15px;
  border: none;
} */

/* .e-control-wrapper.e-input-group.e-control-container.e-keyboard {
  width: 300px;
  height: 50px;
  border-radius: 4px;
  font-size: 0.8rem;
  color: black;
  background-color: #ffffff;
  border: solid 1px #001360;
}

.date-choose-container {
  width: 1258px;
  padding: 8px 0;
  border-radius: 0.8rem;
  display: flex;
  gap: 20px;
  background-color: #eceef6;
}



.pagination-button.e-btn {
  width: 32px;
}

.e-date-list.e-ddl.e-lib {
  height: 40px;
  background-color: inherit;
}

.e-schedule .e-month-view .e-work-cells {
  position: relative;
}

.e-schedule .templatewrap {
  text-align: center;
  position: absolute;
  width: 100%;
}

.e-schedule .caption {
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
} */
