@namespace Shared

@if (UserData != null)
{
    <li class="table-row user-row">
    <div class="user-name">@UserData.Name</div>
    <div class="last-active">@UserData.LastActive</div>
    <DateBlock AppointmentParameter=null />
    <DateBlock AppointmentParameter=@UserData.Appointments?[0] />
    <DateBlock />
    <DateBlock />
    <DateBlock AppointmentParameter=@UserData.Appointments?[1] />
    <DateBlock />
    <DateBlock />
    <button class="edit-button">
        <SfIcon Name="IconName.Edit" Title="edit"></SfIcon>
    </button>
</li>
}

@code {
    [Parameter]
    public UserInfo? UserData { get; set; }
    public class UserInfo
    {
        public required string Id { get; set; }
        public required string Name { get; set; }
        public required string LastActive { get; set; }
        public required string Team { get; set; }
        public List<Appointment>? Appointments { get; set; }
    }
}

<style>
    .user-row {
        height: 60px;
    }

    .user-name {
        width: 170px;
        height: 60px;
        border: 1px solid #DFDDDD;
    }

    .last-active {
        width: 110px;
        height: 60px;
        border: 1px solid #DFDDDD;
    }

    .edit-button {
        width: 115px;
        height: 60px;
        border: 1px solid #DFDDDD;
        background-color: white;
    }
</style>