@page "/base64Converter"
@using System.Text;
@rendermode InteractiveServer

<PageTitle>Base64 Converter</PageTitle>
<h1>Base64 Converter</h1>
<input type="text" @bind-value="text" @oninput="@(e=>{text = e.Value?.ToString()??"";base64String="";})" />
<button class="btn btn-primary" @onclick="EncodeConverter">Click me</button>
<input type="text" @bind-value="base64String" @oninput="@(e=>{base64String = e.Value?.ToString()??"";text="";})" />
<button class="btn btn-primary" @onclick="DecodeConverter">Click me</button>

@code {
  private string text = "";
  private string base64String = "";
  private void HandleTextInput(Microsoft.AspNetCore.Components.ChangeEventArgs e)
  {
    text = e.Value?.ToString() ?? "";
  }
  private void EncodeConverter()
  {
    UTF8Encoding utf8 = new();
    byte[] bytes = utf8.GetBytes(text);
    base64String = Convert.ToBase64String(bytes);
    Console.WriteLine(base64String);
  }

  private void DecodeConverter()
  {
    UTF8Encoding utf8 = new();
    byte[] bytes = Convert.FromBase64String(base64String);
    text = utf8.GetString(bytes);
    Console.WriteLine(text);
  }
}