.container {
  margin-left: 3.2rem;
  margin-top: 0.4rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.title-container {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.subtitle {
  font-size: 0.75rem;
  color: var(--text-color-subtitle);
}

.dropdown {
  display: flex;
  gap: 1.6rem;
}

.dropdown-item-title {
  font-size: 0.75rem;
  font-weight: 600;
  height: 1.4rem;
  color: #212121;
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
}

.dropdown-container {
  display: flex;
  flex-direction: column;
}

.filter-sort-container {
  display: flex;
  gap: 0.6rem;
}

.infos-container {
  background-color: white;
  padding: 1.2rem;
  height: 40rem;
  border-radius: 0.8rem;
  margin-top: -1.5rem;
}

.info-title {
  margin-top: 1.6rem;
}
