@page "/"
@rendermode InteractiveServer

<NavMenu />
<PageTitle>Home</PageTitle>
<div class="container">
    <div class="title-container">
        <h1>Learning Paths</h1>
        <h2>Learning Paths</h2>
        <div class="subtitle">This scheduler is the central hub for tracking and managing the automated, adaptive
            micro-learning paths.
        </div>
    </div>
    <div class="dropdown">
        <div class="dropdown-container">
            <label class="dropdown-item-title">Company
            </label>
            <SfDropDownList PopupHeight="500px" Width="300px" TValue="string" TItem="DropListItem"
                Placeholder="@_companyDropList[0].Text" DataSource="@_companyDropList" @bind-Value="SelectedCompany"
                CssClass="company-users-dropdown-list">
                <DropDownListFieldSettings Value="Text" Text="Text">
                </DropDownListFieldSettings>
            </SfDropDownList>
        </div>
        <div class="dropdown-container">
            <label class="dropdown-item-title">Users
            </label>
            <SfDropDownList Width="300px" TValue="string" TItem="DropListItem" Placeholder="@_userDropList[0].Text"
                DataSource="@_userDropList" @bind-Value="SelectedUser" PopupHeight="500px"
                CssClass="company-users-dropdown-list">
                <DropDownListFieldSettings Value="Text" Text="Text"></DropDownListFieldSettings>
            </SfDropDownList>
        </div>
    </div>
    <div class="filter-sort-container">
        <SfDropDownButton Content="Filter by" CssClass="filter-sort" @bind-Value="SelectedFilter">
            <DropDownMenuItems>
                <DropDownMenuItem Text="Having Course today"></DropDownMenuItem>
            </DropDownMenuItems>
        </SfDropDownButton>
        <SfDropDownButton Content="Sort by" CssClass="filter-sort" @bind-Value="SelectedSort">
            <DropDownMenuItems>
                <DropDownMenuItem Text="Newest Users"></DropDownMenuItem>
                <DropDownMenuItem Text="Last Active"></DropDownMenuItem>
            </DropDownMenuItems>
        </SfDropDownButton>
    </div>
    <div class="infos-container">
        <h3 class="inof-title">Acme Inc</h3>
        <Table />
    </div>
</div>


@code {

    private List<DropListItem> _companyDropList = new List<DropListItem> {
new DropListItem() { Id= "0", Text= "Acme Inc" },
};
    private List<DropListItem> _userDropList = new List<DropListItem> {
new DropListItem() { Id= "0", Text= "Label, Label, Label, Label, Label, Label," },
new DropListItem() { Id= "1", Text= "Label, Label, Label, Label, Label, Label," },
new DropListItem() { Id= "2", Text= "Label, Label, Label, Label, Label, Label," },
new DropListItem() { Id= "3", Text= "Label, Label, Label, Label, Label, Label," }
};

    public string? SelectedCompany;
    public string? SelectedUser;
    public string? SelectedFilter;
    public string? SelectedSort;
}


<style>
    .e-ddl.e-input-group.e-control-container.company-users-dropdown-list.e-control-wrapper.e-lib {
        height: 2.5rem;
        font-size: 0.8rem;
        color: #212121;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
        -webkit-text-fill-color: #212121;
        border: 1px solid #001360;
        //TO DO: 设定为1px的话,和设计的不一样粗
        //TO DO: 如何加上项目的数量? 也许取消?
        //TO DO: 点击的时候 icon 没有改变
    }

    .e-control.e-input.e-dropdownlist {
        width: 9.1rem;
        padding-left: 0;
        font-size: 0.8rem;
    }

    .e-control.e-btn.e-lib.e-dropdown-btn.filter-sort {
        font-size: 0.7rem;
        color: #0c1116;
        width: 5.4rem;
        height: 2rem;
        padding: 0;
        margin-right: 0.6rem;
        border-radius: 1.6rem;
        background-color: white;
        box-shadow: none;
        border: 0;
    }

    //TO DO: 如果没有check box , edit button是不是也不需要了?
</style>
