@page "/"
@rendermode InteractiveServer

<NavMenu />
<PageTitle>Home</PageTitle>
<div class="container">
    <div class="title-container">
        <h1>Learning Paths</h1>
        <h2>Learning Paths</h2>
        <div class="subtitle">This scheduler is the central hub for tracking and managing the automated, adaptive
            micro-learning paths.
        </div>
    </div>
    <div class="dropdown-container">
        <div class="dropdown-list">
            <label class="dropdown-item-title">Company
            </label>
            <SfDropDownList PopupHeight="500px" Width="300px" TValue="string" TItem="DropListItem"
                Placeholder="@_companyDropList[0].Text" DataSource="@_companyDropList" @bind-Value="SelectedCompany"
                CssClass="company-users-dropdown">
                <DropDownListFieldSettings Value="Text" Text="Text">
                </DropDownListFieldSettings>
                @* 加入项目的数量标签
                省略超过的部分 *@
            </SfDropDownList>
        </div>
        <div class="dropdown-list">
            <label class="dropdown-item-title">Users
            </label>
            <SfDropDownList Width="300px" TValue="string" TItem="DropListItem" Placeholder="@_userDropList[0].Text"
                DataSource="@_userDropList" @bind-Value="SelectedUser" PopupHeight="500px"
                CssClass="company-users-dropdown">
                <DropDownListFieldSettings Value="Text" Text="Text"></DropDownListFieldSettings>
            </SfDropDownList>
        </div>
    </div>
    <div class="list-container">
        <div class="filter-container">
            <SfDropDownButton Content="Filter by" CssClass="filter" @bind-Value="SelectedFilter">
                <DropDownMenuItems>
                    <DropDownMenuItem Text="Having Course today"></DropDownMenuItem>
                </DropDownMenuItems>
            </SfDropDownButton>
            <SfDropDownButton Content="Sort by" CssClass="filter" @bind-Value="SelectedSort">
                <DropDownMenuItems>
                    <DropDownMenuItem Text="Newest Users"></DropDownMenuItem>
                    <DropDownMenuItem Text="Last Active"></DropDownMenuItem>
                </DropDownMenuItems>
            </SfDropDownButton>
        </div>
        <div class="infos-container">
            <h3>Acme Inc</h3>
            <Table />
        </div>
    </div>
</div>


@code {

    private List<DropListItem> _companyDropList = new List<DropListItem> {
new DropListItem() { Id= "0", Text= "Acme Inc" },
};
    private List<DropListItem> _userDropList = new List<DropListItem> {
new DropListItem() { Id= "0", Text= "Label, Label, Label, Label, Label, Label," },
new DropListItem() { Id= "1", Text= "Label, Label, Label, Label, Label, Label," },
new DropListItem() { Id= "2", Text= "Label, Label, Label, Label, Label, Label," },
new DropListItem() { Id= "3", Text= "Label, Label, Label, Label, Label, Label," }
};

    public string? SelectedCompany;
    public string? SelectedUser;
    public string? SelectedFilter;
    public string? SelectedSort;
}


<style>
    .e-input-group.company-users-dropdown:not(.e-success):not(.e-warning):not(.e-error) {
        border: 1.5px solid #001360;
    }

    .e-input-group.company-users-dropdown {
        border: 1.5px solid #001360;
    }

    .e-ddl.e-input-group.e-control-container.company-users-dropdown {
        height: 50px;
        font-size: 16px;
        color: #212121;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        -webkit-text-fill-color: #212121;
        //TO DO: 设定为1px的话,和设计的不一样粗
    }

    .e-control.e-input.e-dropdownlist {
        width: 182px;
        padding-left: 0;
        font-size: 16px;
    }
</style>
