@page "/passwordGenerator"
@rendermode InteractiveServer

<PageTitle>Password Generator</PageTitle>

<h1>Password Generator</h1>

<p role="status">Password: @password</p>

<button class="btn btn-primary" @onclick="GeneratePassword">Click me</button>

@code {
    private string password = "";
    private void GeneratePassword()
    {
        Random random = new();
        string result = "";//string 是一个char和num的数列, 数字可以作为char直接列入
        for (int i = 0; i < 8; i++)
        {
            bool isNumber = random.Next(0, 2) == 0;
            if (isNumber)
            {
                result += random.Next(0, 10);
            }
            else
            {
                result += (char)random.Next('a', 'z' + 1);
                // list.Add((char)random.Next('a', 'z' + 1)) 只有带着(char)才是char, 否则是在两个parameter的ASCII对应的值范围内取整
            }
        }
        this.password = result;
    }
}

@* private void example()
{
int e = '!' + 'a';
int x = e;

char a; // 1 byte or 2 bytes
short b; // 2 bytes
int c; // 4 bytes
long d; // 8 bytes
}
} *@