@page "/test"
@using static Shared.TestComponent
@rendermode InteractiveServer


<div class="container">

    <h1>Test</h1>
    <div>@Number</div>
    <BlazorApp.Components.Shared.TestComponent @bind-Number="Number" />

</div>

@code {
    private int Number { get; set; } = 1;

    private Task NumberChanged(int value)
    {
        Number = value;
        return Task.CompletedTask;
    }
}

<style>
    .container {
        margin: 100px;
    }

    .ull {
        height: 100px;
        border: solid 1px black;
        overflow-y: scroll;
    }

    .ull>li {
        height: 20px;
    }
</style>