@page "/test"
@rendermode InteractiveServer

<div>
    <div class="table-header">
        <TableLeftHeader TeamInfo="GetUsers()" UserCount="_userInfo.Count()" />
    </div>
</div>

<style>
    .table-header {
        display: flex;
        flex-direction: column;
    }
</style>