@page "/test"
@rendermode InteractiveServer



<h1>efeajflejfaeljfaljeflajefleaj</h1>
<ul class="ull">
    <li>aaa</li>
    <li>aaa</li>
    <li>aaa</li>
    <li>aaa</li>
    <li>aaa</li>
    <li>aaa</li>
    <li>aaa</li>
    <li>aaa</li>
    <li>aaa</li>
    <li>aaa</li>
    <li>aaa</li>
    <li>aaa</li>
</ul>

<style>
    .ull {
        height: 100px;
        border: solid 1px black;
        overflow-y: scroll;
    }

    .ull>li {
        height: 20px;
    }
</style>