@page "/test"
@rendermode InteractiveServer

<div class="container">
    <h1>Counter</h1>
    <p>Current count: @currentCount</p>
    <button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
    <Button OnClick="@((args) => btnForms_Clicked(args))" @ref="formsButton" Text="@_text">
    </Button>
</div>

@code {
    private Button? formsButton;

    // Define a local variable wich is bound to the Text parameter
    private string _text = "Click me now...";

    public void btnForms_Clicked(MouseEventArgs e)
    {
        _text = "You're a good clicker.";
    }
}
