@page "/test"
@rendermode InteractiveServer

<h1>Counter</h1>

<style>
    .container {
        margin: 100px;
    }

    .ull {
        height: 100px;
        border: solid 1px black;
        overflow-y: scroll;
    }

    .ull>li {
        height: 20px;
    }
</style>